@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

html,body{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    position: relative; 
    display: flex;
    flex-direction: column;
    z-index: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


.header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    max-height: 10vh;
}
.navbar .container{
    height: fit-content;
    padding: 20px;
}

.navbar {
    background-color: black;
    color: #fff;
    padding: 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav {
    list-style: none;
    display: flex;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}

.nav a:hover {
    color: #f2a900;
    cursor: pointer;
}

.hero {
    background-image: url('path/to/your-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
    font-size: 24px;
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    width: 100vw;
    background-color: #1e2a38;
    color: #fff;
    text-align: center;
}

footer p {
    font-size: 14px;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
    transition: opacity 0.3s;
}

.popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.popup-content {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    color: #333;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #555;
}

.popup-content input {
    width: 100%; 
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.popup-content button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.popup-content button:hover {
    background-color: #777;
    transform: scale(1.05);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
}

.close-popup:hover {
    color: #777;
}

@media screen and (max-width: 768px) {
    .popup-content {
        width: 90%;
        padding: 15px;
    }
}



@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .popup-content {
        margin: 20px auto;
    }
}

.search-box {
    position: relative; 
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--ochre);
    max-width: 400px;
    min-height: 77%;
    min-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.search-box h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.search-box form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: stretch; 
}

.search-box label {
    margin-top: 10px;
    font-size: 16px;
}

.search-box input,
.search-box select {
    padding: 10px;
    border: 1px solid var(--french-gray);
    border-radius: 5px;
    margin-bottom: 10px;
}

.search-box button {
    background-color: rgb(231, 118, 77);
    opacity: 0.8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.search-box button:hover {
    opacity: 1;
    background-color: orangered;
}

.photo_back{
    flex: 1; 
    display: flex;
    min-height: fit-content;
}

.right {
    flex: 1;
    position: relative;
    background-color: var(--french-gray);
    /* max-width: 400px; */
    min-height: 30vh;
    min-width: 50vw;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: -1;
}

.search-box form {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; 
}

.left{
    flex: 1;
    background-image: url("cleaned.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    background-color: #a9bcc2;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toplogo{
    max-height: inherit;
    display: none;
}

.suggestionBox {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.suggestionBox .suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestionBox .suggestion:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.logout{
    background: none;
    border: none;
}

@media screen and (max-width: 985px) {
    .header .container{
        height: 8vh;
    }
    .logo{
        font-size: 4vh;
    }
    .toplogo{
        min-height: 100%;
        display: block;
    }

    .navbar{
        min-height: fit-content;
        padding: 10px;
    }
    .nav a{
        font-size: 2vh;
    }

    .search-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .search-box h2{
        font-size: 400%;
    }
    .search-box label{
        font-weight: bold;
        font-size: large;
    }
    .search-box label,
    .search-box input,
    .search-box select,
    .search-box button {
        padding: 12px; 
        flex-grow: 1; 
    }

    
    .search-box label,
    .search-box input,
    .search-box select,
    .search-box button {
        font-size: calc(1vh + 1vw);
    }

    .photo_back {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        order: 2;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
   
}


@media screen and (max-width: 768px) {
    .search-box form {
        padding: 15px;
    }
    .navbar  .container{
        height: 21px;
    }
    .search-box label {
        font-size: 14px; 
        align-self:baseline;
    }

    .search-box input,
    .search-box select {
        padding: 8px; 
    }

    .search-box button {
        padding: 8px 16px; 
        font-size: 14px; 
    }
}

@media screen and (max-width: 480px) {
    .search-box form {
        padding: 10px; 
    }

    .search-box input,
    .search-box select {
        padding: 6px; 
    }

    .search-box button {
        padding: 6px 12px; 
        font-size: 12px; 
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 220px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}